.dataset-table{
background:#1E293B;
padding:25px;
border-radius:18px;
margin-top:25px;
overflow:auto;
}

.dataset-table h2{
color:white;
margin-bottom:20px;
}

.dataset-table table{
width:100%;
border-collapse:collapse;
}

.dataset-table th{
background:#334155;
color:#60A5FA;
padding:14px;
text-align:left;
}

.dataset-table td{
padding:14px;
border-bottom:1px solid #374151;
color:white;
}

.dataset-table tr:hover{
background:#293548;
}